/* wenn seite sehr unterschiedlich ist neue Datei -> style_template.css */

/*Grundlayout*/
body {
    background-color: #faf7f5;
    margin: 0;
}
/*Navigation*/
.navbar{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Logo*/
.logo{
    margin-left: -25px;
}
/*für Abstand von innen und außen*/
.productpage {
   padding: 30px 20px;  
}
/*Hauptbereich von Bild und Informationen*/
.product-main {
    display: flex;
    gap: 120px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: flex-start;
}
/*Produktbild*/
.product-image{
    width: 450px;
    height: 620px;
    /*max-width: 100%;*/
    border-radius: 20px;
    padding: 20px;
    background: #f3ede9; 
    object-fit: contain;   
}
/*Produktinfos*/
.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex: 1;
}
/*Produktname*/
.product-info h1{
    margin: 0 0 10px;
    line-height: 1.15;
    font-size: 40px;
}
/*Untertitel*/
.subtitle {
    color: #777;
    margin-bottom: 10px;
}
/*Preis*/
.price {
    font-size: 26px;
    font-weight: bold;
    color: #d28a57;
    margin-bottom: 20px;
}
/*Merkmale*/
.tags {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}
/*einzelnes Merkmal*/
.tags span {
    border-radius: 999px;
    background-color: rgba(210, 164, 156, 0.18);
    border: 1.5px solid #d9a79c;; 
    color: #b88980;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 600;    
}
/*Detailsbereich*/
.details {
    margin-top: 20px;
    font-size: 16px;
}
/*Abstand zwichen einzelnen Detail-Blöcken*/
.details details{
    padding: 15px 0;
}
/*Klickzeile einer Information*/
.details summary{
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    border-top: 1px solid #dbdbdb;
    padding: 15px 0;
    width: 500px;
}
/*Inhalt der Details*/
.d-body {
    margin-top: 10px;
    color: #666;
    line-height: 1.6;
}
/*Bewertungen-Bereich*/
.reviews {
    max-width: 1200px;
    margin: 60px auto 0;
    padding-top: 30px;
    border-top: 1px solid #dbdbdb;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    row-gap:30px;
}
/*Bewertung abgeben Button*/
.review-btn {
    display: inline-block;
    padding: 13px 18px;
    border-radius: 999px;
    background-color: #e7c4b4;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
/*Button-Effekt*/
.review-btn:hover {
    background-color: #d9a993;
}
/*Kartenlayout*/
.review-card{
    position: relative;
    padding: 30px; 
    border-radius: 20px; 
    border: 2px solid #eee; 
    background: #fff;  
    text-align: left;
    margin-bottom: 100px;
    min-width: 380px;          /* Breite einer Karte */
    scroll-snap-align: start;
}
/*Kopfbereich -> Name und Sterne*/
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Sterne*/
.review-stars {
    color: #e3a23a;       
    font-size: 14px;
    letter-spacing: 1px;
}
/*Datum*/
.review-date {
    position: absolute;
    bottom: 14px;
    right: 16px;
    font-size: 12px;
    color: #999;
}
/*Bewertung abgeben -> versteckt*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
/*wenn Bereich sichtbar ist*/
.modal:target {
    display: flex;
}
/*Inhalt*/
.modal-content {
    width: min(520px, 92vw);
    background: #fff;
    border-radius: 20px;
    padding: 22px;
    position: relative;
    box-shadow: 0 20px 60px rgba(0,0,0,0.2);
}
/* x für schließen*/
.modal-close {
    position: absolute;
    top: 14px;
    right: 14px;
    text-decoration: none;
    background: transparent;
    font-size: 18px;
}
/*Effekt beim schließen*/
.modal-close:hover {
    background: #f3ede9;
}
/*Absenden Button*/
.btn-submit{
    width: 100%;
    margin-top: 18px;
    background: #d2a49c; 
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 14px;
    font-weight: 800;
    cursor:pointer;
}
/*Sterne Anzahl*/
.star-rating {
    display: inline-flex; 
    flex-direction: row-reverse;
    gap: 6px;
    margin-top:10px;
}
/*Input unsichtbar*/
.star-rating input{
    display: none;
}
/*klickbare Sterne*/
.star-rating label {
    cursor: pointer;
    font-size: 28px;
    color: #ddd;
    line-height: 1;
}
/*Sterne Gold färben*/
.star-rating label:hover,
.star-rating label:hover ~label{
    color: #e3a23a; 
}
/*wenn Input gewählt passende Sterne färben*/
.star-rating input:checked ~label {
    color: #e3a23a;
}
/*Scroller*/
#reviewsList{
    display: flex;
    gap: 30px;
    overflow-x: auto;        
    scroll-snap-type: x mandatory;
    grid-column: 1 / -1; 
    padding-right: 160px;
}

.review-actions{
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.trash-btn{
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 6px 8px;
  border-radius: 10px;
}

.trash-btn:hover{
  background: #faf7f5;
}

/*Profil und Dropdown*/
.user-menu{
  margin-left: auto;
  position: relative;
}
/*Unsichtbare Checkbox*/
.menu-toggle{
  position: absolute;
  opacity: 0;
}
/*Profil-Button*/
.avatar-btn{
  width: 44px;
  height: 44px;
  border-radius: 999px;
  background: #eaded7;
  color: #6b6b6b;
  font-weight: 900;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0;
  line-height: 1;
  box-shadow: 0 10px 30px rgba(0,0,0,.06);
  position: relative;
  z-index: 3000;
}
/*Dropdown*/
.dropdown{
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  background: #fff;
  border: 1px solid #eaded7;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  min-width: 170px;
  padding: 6px;
  z-index: 2500;
}
/*schließen*/
.menu-backdrop{
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2000;
}
/*wenn Profil angeklickt -> dropdown anzeigen*/
.menu-toggle:checked ~ .menu-backdrop{ display: block; }
.menu-toggle:checked ~ .dropdown{ display: block; }

/*links im Dropdown*/
.dropdown a{
  display:block;
  padding:10px 12px;
  border-radius:10px;
  text-decoration:none;
  color:#444;
  font-size:13px;
  font-weight:600;
}
/*Effekt*/
.dropdown a:hover{
  background:#faf7f5;
}

.product-image-wrap{
  position: relative;
  display: inline-block; 
}

.fav-form{
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
}

.fav-btn{
  width: 42px;
  height: 42px;
  border-radius: 999px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  display: grid;
  place-items: center;

 
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(6px);
}

.fav-btn:hover{
  transform: scale(1.05);
}

