<!DOCTYPE html>
<html lang = "de">
<head>
    <meta charset="utf-8">
    <title> Home - SkinSense </title>

   <!--CSS einbinden--> 
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
<nav class="navbar">
    <span class="logo"> SkinSense</span>
    <a href="/login" class="btn-primary btn-nav">Starten</a>
</nav>
<main class="hero"> 
<h1> SkinSense</h1>
<p> Ihre persönliche Beratung zu schöner und reiner Haut</p>
</main>
</body>
</html>