<!DOCTYPE html>
<html lang = "de">
<head>
    <meta charset="utf-8">
    <title> Produktdetails - SkinSense</title>

   <!--CSS einbinden--> 
   <link rel="stylesheet" href="/static/css/product_details.css">
</head>
<body>
    <nav class="navbar">
        <span class="logo"> SkinSense</span>
        <div class="avatar" title="Profil">
         <span>👩🏻</span>
        </div>
    </nav> 


 <!--Produkt Informationen-->
 <section class="productpage">
    <div class="product-main">
        <img src= "/static/images/products/CeraVe_Feuchtigkeitslotion.png" class="product-image">
    
        <div class="product-info">
            <h1>CeraVe Feuchtigkeitslotion</h1>
            <p class="subtitle"> pflegende Feuchtigkeitslotion</p>
            <p class="price">24.00€</p>
        
            <div class="tags">
                <span>hydration</span>
                <span>for dry skin</span>
                <span>vegan</span>
            </div>
      
            <div class="details">
              <details open>
                <summary>Beschreibung</summary>
                <div class="d-body">
                    Feuchtgkeitscreme
                </div>
               </details>

               <details>
                <summary>Inhaltsstoffe</summary>
                <div class="d-body">
                    andioxid
                </div>
               </details>

               <details>
                <summary>Anwendung</summary>
                <div class="d-body">
                    Auf Haut auftragen
                </div>
               </details>

               <details>
                <summary>Link</summary>
                <div class="d-body">
                   <a href="https://www.douglas.de" target="_blank" rel="noopener">
                    zum Shop
                   </a> 
                </div>
               </details>
            </div>
        </div>
    </div>    
 </section>

 <!--Bewertungen-->
 <section class="reviews">
    <h2>Bewertungen ★★★★☆ (4.7)</h2>

    <div class="review-card">
     <div class="review-header">
       <strong class="review-name">Lina K.</strong>
       <div class="review-stars">★★★★☆</div>
     </div>

     <p class="review-text">Super Produkt!</p>

     <div class="review-date">10.01.2026</div>
    </div>
 </section>
</body>
</html>