<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Hauttyp auswählen - SkinSense</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skin_type.css') }}">
</head>

<body>
  <nav class="navbar">
    <span class="logo">SkinSense</span>
  </nav>

  <main class="skin-page">
    <h1>Was ist dein Hauttyp?</h1>
    <p>Wähle einen Hauttyp aus, um personalisierte Produktempfehlungen zu erhalten</p>

    <form action="{{ url_for('skin_type') }}" method="POST">
     <div class="skin-grid">
       {% for ht in hauttypen %}
         <label class="skin-card {% if loop.index == 5 %}skin-card-center{% endif %}">
          <input type="radio" name="skin_type" value="{{ ht.id}}" required>
             <h3>{{ ht.bezeichnung|capitalize }}</h3>
             <p>{{ ht.beschreibung }}</p>
         </label>
        {% endfor %}   
     </div>

     <button class="btn-primary">Weiter</button>
    </form>
  </main>
</body>
</html>
